<table >

            <tbody>
              <tr>  
                                <td>pregunta 1</td>
                                                <td>opcion1 de pregunta 1</td>
                 
                                                <td>opcion 2  de pregunta 1</td>
                 
                                 
                              </tr>


              <tr>
                <td></td>

                                                
                                                                                                                                                                              
                                                                                   
                                                                                   
                                          
                 
                                                                                                                   
                                                                                   
                                                                                                                                              
                                          
                 
                                                                                                                   
                                                                                                                                              
                                                                                   
                                          
                 
                                <td>3</td>
                 
                                                
                                 
                                 
                                 
                                <td>0</td>
                 
                                                 
                

                
              </tr>







                              <td>pegunta 2</td>
                                 
                                 
                                                <td>opcion 1 pregunta 2</td>
                 
                              </tr>


              <tr>
                <td></td>

                                                 
                                                 
                                                
                                 
                                 
                                 
                                <td>0</td>
                 
                

                
              </tr>







                          </tr>


          </tbody>        
        </table>         


