  .loader-page {
    position: fixed;
    z-index: 25000;
    background: rgb(255, 255, 255);
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:all .3s ease;
    /*visibility: hidden;
    opacity: 0;*/
  }

  .loader-page::before {
    content: "";
    position: absolute;
    border: 3px solid rgb(31, 146, 111);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border-left: 2px solid rgba(31, 146, 111,0);
    border-top: 2px solid rgba(31, 146, 111,0);
    animation: rotarload 1s linear infinite;
    transform: rotate(0deg);
  }

  @keyframes rotarload {
      0%   {transform: rotate(0deg)}
      100% {transform: rotate(360deg)}
  }

  .loader-page::after {
    content: "";
    position: absolute;
    border: 2px solid rgba(31, 146, 111,.5);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border-left: 2px solid rgba(31, 146, 111, 0);
    border-top: 2px solid rgba(31, 146, 111, 0);
    animation: rotarload 1.09s ease-out infinite;
    transform: rotate(0deg);
  }

  .text-loading {
    margin-top: 7rem;
  }